/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
.traingle-left  {display:block; position:absolute; left:40px; top:0px;
width: 0;
	height: 0;
	border-bottom: 51px solid black;
	border-left: 51px solid transparent;

}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 10;
  width:750px;
  padding-left: 10;
}
.navbar-wrapper .navbar {background-color: black;
  padding-right: 15px;
  padding-left: 15px; 
}
.traingle-right{display:block; position:absolute; left:810px; top:0px;
width: 0;
	border-top: 51px solid black;
	border-right: 51px solid transparent;
	}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 650px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */


/* Declare heights because of positioning of img element */
.carousel .item {
  height: 650px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 650px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 10px;
	margin-left:450px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 0px; 
  }
.forma {display:block;
  position: absolute;left:1100px;top:420px;
  width:200px; height: 180px;
background-color: black; 
opacity: 0.6;
border-radius: 10px;
}
.tip{
color:white;
font-size:20px; 
text-align:center; padding-top:5px;
}

.sad {display: block; position:relative; left:10px; border-radius: 10px; }



  /* Bump up size of carousel content */
  .carousel-caption {display:block;
  position: absolute;left:0px;
  width:350px; height: 100px;
  color: white;
  background-color: #5a5a5a; 
    font-size: 20px;opacity: 0.8; text-align: left;
   }
.cap {display:block; position: relative; left: 350px; top: -86px; 	width: 0;
	height: 0;
	border-top: 100px solid #5a5a5a;
	border-right: 100px solid transparent;
}

.okno{display:inline;width:220px;height:410px;vertical-align:top;
margin:auto; position:relative; left:20px; top:-20px;}
 
 .okno img {width:220px;height:410px;margin:5px;} 

.oknot{
display:inline;
width:210px;
height:210px;
vertical-align:top;
position:relative; 
left:10px; 
top:-20px;}
 
 .oknot img {width:210px;height:210px;margin:10px;} 

  .featurette-heading {
    font-size: 50px;
  }
.main{font-size:30px; text-align:center;

}
.menu1{position:absolute;left:400px;}

.triangle-bottomleft {
	width: 0;
	height: 0;
	border-bottom: 100px solid #87CEFA;
	border-right: 1200px solid transparent;
}
.row1{background-color:#87CEFA; width:1200px;

}

.triangle-topright {
	width: 0;
	height: 0;
	border-top: 100px solid #87CEFA;
	border-right: 1200px solid transparent; 

}
.formata{display:block;
  position: relative;left:400px;top:30px;
  width:430px; height: 200px;
background-color: #87CEFA; 
opacity: 0.6;
border-radius: 10px;

}
.forma1{display:inline-block;width:200px;height:150px;vertical-align:top;
position: relative;left:25px;top:25px;}

.knopka{display:block;position:relative; top:10px;left:100px;}


.btn1{background-color: #87CEFA; position:relative;margin-left:110px;margin-right:80px;}

.triangle-bottomleft1 {
	width: 0;
	height: 0;
	border-top: 100px solid #87CEFA; 
	
	border-right: 1200px solid transparent;
}

.containers { width:1200px;
height: 400px;
background-color: #87CEFA;
}
.oknos{display:inline-block;width: 120px;
 height: 120px;
vertical-align:top;
margin:auto; position:relative; top:30px; left:50px;
padding:10px; margin:0 50px 50px 50px;
 }
 
 .oknos p{font-size:17px; float:bottom; color:white;text-align:center;}
 .oknossmall {display:inline;width: 100px;
 height: 100px;
 vertical-align:top;
margin:auto; position:relative; left:-5px; top:40px; background-color:white;
-moz-border-radius: 60px;
	-webkit-border-radius: 60px;padding:10px;
 }
 .oknos1{display:inline-block;width: 120px;
 height: 120px;
vertical-align:top;
 position:relative; top:30px; left:200px;
padding:10px; margin:0 50px 70px 50px;
 }
 .oknos1 img{width: 120px;
 height: 120px;}
.oknossmall1 {display:inline;width: 100px;
 height: 100px;
 vertical-align:top;
margin:auto; position:relative; left:150px; top:50px; background-color:white;
-moz-border-radius: 60px;
	-webkit-border-radius: 60px;padding:10px;
 }
.oknos1 p{font-size:17px; float:bottom; color:white;text-align:center;}

}
.feat{height:350px; width:1200px;
}
.feat img{height:350px; width:1200px;
}

.col{
height:250px; width:300px;display:inline-block;vertical-align:top;
 position:relative; left:60px;top:-330px;margin:30px;
}
.col img
{
height:250px; width:300px;
}


.bottom{
height:320px; 
border-top:10px solid #5a5a5a; 
border-bottom:10px solid #5a5a5a; 
position:relative;
}
.adres{
display:block;
height:150px; 
width:190px;
background-color: #D2691E;
opacity:0.9; margin-left:840px;
border-radius: 10px;
color:black;
margin-top:-200px;
padding:5px;
}
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}




a {
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease; 
	}
    a:hover {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
        filter: alpha(opacity=50); /* IE7 */
        opacity: 0.6;
        text-decoration: none;
    }
	
.container-fluid {
    background: #FFFFFF;
    margin: 30px 55px 10px;
    padding: 10px 0px 10px;
    max-width: 1200px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}	
	
	
.thumbnails li {
  display: inline-block; 
}
.carouselmini.item {
  height: 260px;
  
}






/* Container */






/* Thumbnail Box */



/* Carousel Control */
.control-box {
    text-align: center;
    width: 100%;
    }
    .carouselmini-control{
        background: black;
        border: 0px;
        border-radius: 0px;
        display: inline-block;
        font-size: 34px;
        font-weight: 200;
        line-height: 18px;
        opacity: 0.5;
        padding: 4px 10px 0px;
        position: static;
        height: 30px;
        width: 25px;
        }





/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
    text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
    word-break: break-all;
    }
}


/* ADD-ON
-------------------------------------------------- */

